<nav class="site-header sticky-top py-1">
  <div class="container-fluid">
    <div class="row" style="align-items: center;">
      <div class="col-sm-3">
        <a routerLink="/home"><img class="eg-logo" src="../../assets/images/logo.svg" type="image/svg+xml"/></a>
      </div>
      <div class="col-sm-9">
        <a class="d-none d-md-inline-block ng-navbar-links" *ngIf="!session" routerLink="/login">Login</a>
        <a class="d-none d-md-inline-block ng-navbar-links" *ngIf="!session" routerLink="/register">Register</a>

        <a class="d-none d-md-inline-block ng-navbar-links" *ngIf="session" routerLink="/logout">Logout</a>
        <a class="d-none d-md-inline-block ng-navbar-links" *ngIf="session" routerLink="/profile">Profile</a>
        <a class="d-none d-md-inline-block ng-navbar-links" *ngIf="session" routerLink="/dashboard">Dashboard</a>
        <a class="d-none d-md-inline-block ng-navbar-links eg-developers" data-toggle="modal" data-target="#exampleModalCenter">Developers</a>
      </div>
    </div>
  </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
     aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Developers</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="col-sm">
            <img style="border-radius: 10px;" src="../../assets/images/smaddikonda.jpeg" alt="" width="100"
                 height="100">
            <span class="badge badge-secondary eg-badge"><a href="https://www.linkedin.com/in/smaddikonda/"
                                                            class="eg-link" target="_blank">Sai Maddikonda</a></span>
          </div>
          <div class="col-sm">
            <img style="border-radius: 10px;" src="../../assets/images/sreematta.jpg" alt="" width="100"
                 height="100">
            <span class="badge badge-secondary eg-badge"><a href="https://www.linkedin.com/in/sreekmatta/"
                                                            class="eg-link" target="_blank">Sree Matta</a></span>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div>
